@using JornalAscensao.Utils
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5">
    @* noticia princiapl *@
   
        <div class="row">
        <div class="col-lg-9 col-md-12">
            @if (Model.ArtigoPrincipal != null)
            {
                <div>
                    <img src="https://picsum.photos/900/300" class="img-fluid" width="900" height="300" alt="Foto artigo principal"/>
                </div>
                <div>
                    <div class="d-flex align-items-center gap-2 mt-4">
                        <div>
                            <span class="btn btn-sm rounded-5 button-tertiary fw-medium">@Model.ArtigoPrincipal.Categoria</span>
                        </div>
                        <span class="text-muted small">@LayoutUtils.GetMesAno(Model.ArtigoPrincipal.Publicado ?? DateTime.Now)</span>
                    </div>
                    <div class="mt-2">
                        <h3 class="serif text-primary fw-bold">@Model.ArtigoPrincipal.Titulo</h3>
                    </div>
                </div>
            }
        </div>
        @* Ultimas noticias aside *@
        <aside class="col-lg-3 col-md-12">
            <h2 class="serif text-primary fw-bold fs-4">Últimos Artigos</h2>
          @if (Model.UltimosArtigos != null && Model.UltimosArtigos.Any())
            {
                @foreach (var ultimosArtigos in Model.UltimosArtigos)
                {
                    <a asp-controller="Artigos" asp-action="Artigo" asp-route-id="@ultimosArtigos.Slug">
                        <div class="mt-3">
                            <div class="d-flex align-items-center gap-3">
                                <div>
                                    <img src="@ultimosArtigos.Imagem" class="object-fit-cover" width="120"
                                         height="80" alt="@ultimosArtigos.Slug"/>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div>
                                            <span class="btn btn-sm rounded-5 button-tertiary fw-medium">@ultimosArtigos.Categoria</span>
                                        </div>
                                        <span class="small text-muted">@LayoutUtils.GetMesAno(ultimosArtigos.Publicado ?? DateTime.Now)</span>
                                    </div>
                                    <h4 class="fs-6 mt-2 fw-medium ">
                                        @ultimosArtigos.Titulo 
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a> 
                } 
            }

        </aside>
    </div>
    
    @* Secoes de cada categoria de artigo *@
    @if (Model.ArtigosEconomia != null && Model.ArtigosEconomia.Any())
    {
        <div class="row mt-5">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <h4 class="serif text-primary fw-bold">Economia</h4>
                @foreach (var artigoEconomia in Model.ArtigosEconomia)
                {
                    <a asp-controller="Artigos" asp-action="Artigo" asp-route-id="@artigoEconomia.Slug">
                        <div class="mt-3">
                            <div class="d-flex align-items-center gap-3 col-lg-5">
                                <div>
                                    <img src="@artigoEconomia.Imagem" width="120" height="80" alt=""/>
                                </div>
                                <div>
                                    <h3 class="text-primary fs-4">@artigoEconomia.Titulo</h3>
                                </div>
                            </div>
                        </div>
                    </a> 
                } 
            </div>
        </div>
    } 
    
    @if (Model.ArtigosPolitica != null && Model.ArtigosPolitica.Any())
    {
        <div class="row mt-5">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <h4 class="serif text-primary fw-bold">Politica</h4>
                @foreach (var artigosPolitica in Model.ArtigosPolitica)
                {
                    <a asp-controller="Artigos" asp-action="Artigo" asp-route-id="@artigosPolitica.Slug">
                        <div class="mt-3">
                            <div class="d-flex align-items-center gap-3 col-lg-5">
                                <div>
                                    <img src="@artigosPolitica.Imagem" width="120" height="80" alt=""/>
                                </div>
                                <div>
                                    <h3 class="text-primary fs-4">@artigosPolitica.Titulo</h3>
                                </div>
                            </div>
                        </div>
                    </a> 
                } 
            </div>
        </div>
    }
    
    @if (Model.ArtigosMundo != null && Model.ArtigosMundo.Any())
    {
        <div class="row mt-5">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <h4 class="serif text-primary fw-bold">Mundo</h4>
                @foreach (var artigosMundo in Model.ArtigosMundo)
                {
                    <a asp-controller="Artigos" asp-action="Artigo" asp-route-id="@artigosMundo.Slug">
                        <div class="mt-3">
                            <div class="d-flex align-items-center gap-3 col-lg-5">
                                <div>
                                    <img src="@artigosMundo.Imagem" width="120" height="80" alt=""/>
                                </div>
                                <div>
                                    <h3 class="text-primary fs-4">@artigosMundo.Titulo</h3>
                                </div>
                            </div>
                        </div>
                    </a> 
                } 
            </div>
        </div> 
    } 
</div>